* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.1rem;
}

.wrapper {
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wrapper > div:first-child {
  flex-basis: 40%;
  padding: 0.8rem;
}

.wrapper > div:last-child {
  flex-grow: 2;
  padding: 0.8rem;
}

.wrapper > div div {
  display: flex;
  padding: 0.5rem;
}

.wrapper > div div label {
  flex-basis: 25%;
  text-transform: capitalize;
}

.message {
  color: #fff;
}

.success {
  background-color: green;
}

.failed {
  background-color: red;
}

table {
  background-color: #ddd;
}

table thead {
  background-color: #fff;
}

table thead tr th {
  text-transform: capitalize;
  text-align: left;
}

table thead tr th,
table tbody tr td {
  padding: 3px 10px 3px 0;
}

table tbody tr td a i {
  padding: 0 3px;
  color: #5aae3c;
}

table tbody tr td {
  text-align: center;
}

table tbody tr:nth-child(even) {
  background-color: #eee;
}
